button {
  background-color: #000000;
  border: 6px solid #0ff166;
  border-radius: 10px;
  width: 150px;
}

select {
  display: block;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-image: linear-gradient(green);
  padding: 20px;
}
.mainContent {
  padding-top: 20px;
  text-align: center;
}

.userInput {
  text-align: center;
}

.moneyInput {
  text-align: center;
  padding-top: 20px;
}
